@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,500&display=swap');

// variables
$font-default: 'Work Sans', sans-serif;
$font-color: #1C1E1F;
$primary-color: #1B31A8;
$secondary-color: #0079FF;
$light-gray: #F4F8FA;
$gray: #E1E8ED;
$dark-gray: #657786;
$box-shadow-default: rgba(150, 164, 176, 0.1);