@import '../../../styles/variables';

.card-info {
  width: 100%;
  margin: 30px 0;
  background-color: #FFFFFF;
  border: 1px solid $gray;
  box-shadow: $box-shadow-default;
  border-radius: 8px;
  color: $font-color;
  &-header {
    line-height: 0.6;
    padding: 40px 32px;
    align-items: center;
    font-weight: 500;
    h1{
      font-size: 18px;
    }
    .text-emphasis {
      color: $secondary-color;
      font-size: 40px;
    }
  }
  &-text {
    padding: 16px 32px;
    font-size: 12px;
    background-color: $light-gray;
  }
}